[submodule "TaroCommon"]
	path = TaroCommon
	url = git@coding.jd.com:daojiaH5/TaroCommon.git
	branch = master

[submodule "qin"]
	path = qin
	url = git@coding.jd.com:jddj_web/qin.git
	branch = master

[submodule "DJUIComponents"]
	path = DJUIComponents
	url = git@coding.jd.com:jddj_web/DJUIComponents.git
	branch = master

[submodule "DJTaroCommon"]
	path = DJTaroCommon
	url = git@coding.jd.com:daojiaH5/DJTaroCommon.git
	branch = feature_v1.4
